// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import url("https://www.nerdfonts.com/assets/css/webfont.css");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
